<h1>Download <%= @product.name %></h1>
<p>Thank you for your purchase! You can download "<%= @product.name %>" by clicking the link below.</p>
<p><%= link_to "Download", download_url(guid: @sale.guid) %></p>
